body{
    font-family: 'Proxima Nova';
/*        background: url(../img/site.jpg) no-repeat center top;*/
}
#wrapper{
     position: relative;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    background: url('../img/background.jpg') no-repeat center top;

/*    background-size: cover;*/
}
.main-box{
    max-width: 800px;
    max-height: 588px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0 , -50%);
    background: radial-gradient(50% 50% at 50% 50%, rgba(185, 113, 109, 0.4) 0%, rgba(114, 46, 63, 0.4) 100%);
   backdrop-filter: blur(20px); 
    border-radius: 10px;
    padding: 62px 0;
/*    margin-top: 43px;*/
}

}
.text-block{
      margin: 0 92px;
 
}
.logo{
    text-align: center;
    /* padding-top: 62px; */
    margin-bottom: 20px;
}

.main-text{
    font-family: 'Proxima Nova';
    font-weight: 700;
    color: #fff;
    font-size: 42.3px;
    line-height: 40px;
    padding-bottom: 20px;
    text-align: center;
}
.second-text{
    font-weight: 300;
    font-size: 21.5px;
    line-height: 24.36px;
    text-align: center;
    color: #fff;
    text-align: center;
    padding-bottom: 60px;
}
.third-text{
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #fff;
}
.third-text a{
    color: #fff;
    font-weight: 700;
    text-decoration: none; 
}
#phone-call::before{
    content: '';
    display: none ;
}
#mail::before{
    content: '';
    display: none;
}
@media screen and (height:1000px) {
    
    #wrapper{
        background-size: cover;
    }  

}
@media screen and (min-height:1000px) {
    
    #wrapper{
        background-size: cover;
        box-sizing: border-box; 
        overflow-y: hidden;
        background-position: center;
    }  
 

}

@media screen and (max-width: 640px){
    .second-text{
        padding-bottom: 0;
    }
   
}
@media screen and (max-width:458px){
    .main-text{
        font-size: 34.3px;
    }
    .main-box{
        top: 60%;
    }
    #wrapper{
/*            overflow-y: hidden;*/
    }
    
}
@media screen and  (max-width: 420px){
    .text-block{
    padding-left: 15px;
    padding-right: 15px;
    }
    .main-text{
        font-size: 26.3px;
        
    }
    .second-text{
        padding-bottom: 0px;
    }
    .third-text a{
        display: inline-block;
    }
    .phone{
        display: none;
    }
    .mail{
        display: none;
    }
    #mail::before{
           content: '';
    background-image: url(../img/mail.png);
    background-position: center;    
    display: inline-block ;
    background-color: #fff;    
    width: 37px;
    height: 37px;
/*    border-radius: 50px;*/
    position: relative;
    top: 12.5px;
    left: -15px;
    }
    #phone-call::before{
           content: '';
    background-image: url(../img/phone.png);
    background-color: #fff;@media screen and (max-width:458px){
    .main-text{
        font-size: 34.3px;
    }
    .main-box{
        top: 55%;
    }
    
}
        background-position: center;
    display: inline-block !important;
    width: 37px;
    height: 37px;
    border-radius: 50px;
    position: relative;
    top: 12.5px;
    left: -10px;
    }
    #mail{
        margin-top: 10px;
    }    }
@media screen and (max-width: 1270px){
   #wrapper .main-box{
        padding: 0 0 !important;
    } 
}    

